.agree-culture-theme {
          --primary-25: #f9fbf9;
  --primary-50: #f2f8f3;
  --primary-100: #e6f1e8;
  --primary-200: #cae2cf;
  --primary-300: #aad2b2;
  --primary-400: #82c190;
  --primary-500: #47af64;
  --primary-600: #3f9c59;
  --primary-700: #36874d;
  --primary-800: #2c6e3f;
  --primary-900: #1f4e2c;
  --secondary-25: #f1f2f2;
  --secondary-50: #dbdede;
  --secondary-100: #a6b3b7;
  --secondary-200: #8da0a8;
  --secondary-300: #607b86;
  --secondary-400: #345664;
  --secondary-500: #073142;
  --secondary-600: #062b3b;
  --secondary-700: #052533;
  --secondary-800: #041e29;
  --secondary-900: #03151d;
  --tertiary-25: #f9f9f9;
  --tertiary-50: #f3f3f3;
  --tertiary-100: #e8e8e8;
  --tertiary-200: #cecece;
  --tertiary-300: #b1b1b1;
  --tertiary-400: #8f8f8f;
  --tertiary-500: #616161;
  --tertiary-600: #565656;
  --tertiary-700: #4b4b4b;
  --tertiary-800: #3d3d3d;
  --tertiary-900: #2b2b2b;
  --error-25: #fef9f8;
  --error-50: #fdf2f2;
  --error-100: #fce6e5;
  --error-200: #f9cac8;
  --error-300: #f6a9a7;
  --error-400: #f3817c;
  --error-500: #f04438;
  --error-600: #d63c32;
  --error-700: #b9342b;
  --error-800: #972b23;
  --error-900: #6b1e19;
  --warning-25: #fefaf8;
  --warning-50: #fef6f1;
  --warning-100: #fdece4;
  --warning-200: #fbd9c5;
  --warning-300: #fac4a1;
  --warning-400: #f8ac72;
  --warning-500: #f79009;
  --warning-600: #dc8008;
  --warning-700: #bf6f06;
  --warning-800: #9c5b05;
  --warning-900: #6e4004;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;
  --information-25: #f5fbff;
  --information-50: #f0f9ff;
  --information-100: #e0f2fe;
  --information-200: #b9e6fe;
  --information-300: #7cd4fd;
  --information-400: #36bffa;
  --information-500: #0ba5ec;
  --information-600: #0086c9;
  --information-700: #026aa2;
  --information-800: #065986;
  --information-900: #0b4a6f;
  --buttons-lg-padding-left-right: 16px;
  --buttons-lg-padding-top-bottom: 12px;
  --buttons-lg-icon-size: 20px;
  --buttons-sm-padding-left-right: 12px;
  --buttons-sm-padding-top-bottom: 8px;
  --buttons-sm-icon-size: 12px;
  --buttons-primary-default-background-color: #47af64;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #3f9c59;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #36874d;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #47af64;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-focus-border-colors: #aad2b2;
  --buttons-primary-disabled-background-color: #b1b1b1;
  --buttons-primary-disabled-color: #616161;
  --buttons-primary-border-width: 0px;
  --buttons-secondary-default-background-color: #f2f8f3;
  --buttons-secondary-default-color: #47af64;
  --buttons-secondary-hover-background-color: #e6f1e8;
  --buttons-secondary-hover-color: #3f9c59;
  --buttons-secondary-active-background-color: #cae2cf;
  --buttons-secondary-active-color: #3f9c59;
  --buttons-secondary-focus-background-color: #f2f8f3;
  --buttons-secondary-focus-color: #47af64;
  --buttons-secondary-focus-border-colors: #82c190;
  --buttons-secondary-disabled-background-color: #f3f3f3;
  --buttons-secondary-disabled-color: #cecece;
  --buttons-secondary-border-width: 0px;
  --buttons-border-radius: 16px;
  --buttons-md-padding-left-right: 12px;
  --buttons-md-padding-top-bottom: 8px;
  --buttons-md-icon-size: 16px;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cecece;
  --checkbox-disabled-background-color: #e8e8e8;
  --checkbox-disabled-border: #b1b1b1;
  --checkbox-active-disable-background-color: #aad2b2;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #47af64;
  --checkbox-active-background-color: #47af64;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #3f9c59;
  --checkbox-border-radius: 4px;
  --checkbox-border-width: 1px;
  --checkbox-text-enable: #041e29;
  --checkbox-text-disable: #8f8f8f;
  --radio-border-width: 1px;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #cecece;
  --radio-disable-background-color: #e8e8e8;
  --radio-disable-border: #b1b1b1;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #47af64;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #aad2b2;
  --radio-text-enable: #041e29;
  --radio-text-disable: #8f8f8f;
  --anchor-default-color: #47af64;
  --anchor-hover-color: #3f9c59;
  --anchor-active-color: #36874d;
  --anchor-focus-color: #47af64;
  --anchor-disable-color: #b1b1b1;
  --anchor-lg-icon-size: 20px;
  --anchor-md-icon-size: 16px;
  --anchor-sm-icon-size: 12px;
  --switch-active-background-color: #47af64;
  --switch-active-disable-background-color: #cae2cf;
  --switch-nonactive-background-color: #b1b1b1;
  --switch-nonactive-disable-background-color: #e8e8e8;
  --avatar-lg-size: 64px;
  --avatar-lg-icon-size: 40px;
  --avatar-md-size: 40px;
  --avatar-md-icon-size: 24px;
  --avatar-sm-size: 32px;
  --avatar-sm-icon-size: 16px;
  --text-field-default-background-color: #ffffff;
  --text-field-default-outline-color: #cecece;
  --text-field-default-icon-color: #3d3d3d;
  --text-field-default-placeholder-color: #8f8f8f;
  --text-field-default-label-color: #3d3d3d;
  --text-field-active-outline-color: #47af64;
  --text-field-active-placeholder-color: #3d3d3d;
  --text-field-active-border-color: #cae2cf;
  --text-field-error-outline-color: #f04438;
  --text-field-success-outline-color: #12b76a;
  --text-field-disable-background-color: #e8e8e8;
  --text-field-disable-outline-color: #b1b1b1;
  --text-field-disable-placeholder-color: #8f8f8f;
  --text-field-prefixsufix-line-color: #b1b1b1;
  --text-field-prefixsufix-text-color: #616161;
  --text-field-border-radius: 4px;
  --text-field-padding-left-right: 12px;
  --text-field-padding-top-bottom: 12px;
  --badge-primary-background-color: #47af64;
  --badge-primary-color: #ffffff;
  --badge-secondary-background-color: #e6f1e8;
  --badge-secondary-color: #47af64;
  --badge-error-background-color: #fce6e5;
  --badge-error-color: #f04438;
  --badge-info-background-color: #e0f2fe;
  --badge-info-color: #0ba5ec;
  --badge-success-background-color: #d1fadf;
  --badge-success-color: #12b76a;
  --badge-warning-background-color: #fdece4;
  --badge-warning-color: #f79009;
  --badge-border-radius: 8px;
      }